{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "LithoBlocks API",
    "description": "\n# LithoBlocks API\n\nWelcome to the LithoBlocks API documentation. This API enables you to manage templates, entities, and organizations with a powerful, scope-based authorization system.\n\n## Authentication & Authorization\n\nThis API uses **LithoBlocks API Keys** for authentication with **scope-based authorization** for granular access control.\n\n### Getting Your API Key\n\n1. **Log into your LithoBlocks organization dashboard**\n2. **Navigate to API Keys** in your account settings\n3. **Create a new API key** and select the required scopes\n4. **Copy your API key** (it will only be shown once for security)\n\n### Using Your API Key\n\nInclude your API key in the Authorization header:\n\n```\nAuthorization: Bearer lb_live_sk_example_key_here\n```\n\n### API Key Scopes & Role Requirements\n\nYour available scopes depend on your **organization role**. When creating an API key, you can only select scopes your role permits:\n\n#### 👥 **All Roles** (Viewer, Member, Admin, Owner)\n| Scope | Description |\n|-------|-------------|\n| `templates:read` | Read access to organization templates |\n| `messages:create` | Compile templates into messages |\n| `entities:read` | Read access to data entities |\n\n#### ✏️ **Member+** (Member, Admin, Owner)\n| Scope | Description |\n|-------|-------------|\n| `templates:write` | Create, update, and manage templates |\n| `entities:write` | Create, update, and manage entities |\n\n#### 🔑 **Admin+** (Admin, Owner)\n| Scope | Description |\n|-------|-------------|\n| `organizations:admin` | Update organization settings, manage members |\n| `users:admin` | View and manage organization users |\n\n### API Key Management\n\n- **Multiple Keys**: Create multiple API keys with different scopes for different use cases\n- **Key Rotation**: Regularly rotate your API keys for security\n- **Scope Limitation**: Only request the minimum scopes needed for your application\n- **Organization Scoped**: All API keys are scoped to your organization\n\n### Security Best Practices\n\n- **Never share API keys** or commit them to version control\n- **Use environment variables** to store API keys in your applications\n- **Create separate keys** for development, staging, and production\n- **Revoke unused keys** from your dashboard regularly\n\n### Multi-Tenant Isolation\n\nAll API endpoints enforce **organization-level isolation**:\n- You can only access resources within your organization\n- API keys are tied to the organization where they were created\n- Cross-organization access is never permitted\n\n## Role-Based Access Control\n\n### 👀 **Viewer Role**\n- Can read templates and entities\n- Can compile templates into messages\n- **Cannot** create or modify resources\n- **Cannot** access admin functions\n\n### ✏️ **Member Role** \n- All Viewer permissions\n- Can create and update templates\n- Can create and update entities\n- **Cannot** access admin functions\n\n### 🔧 **Admin Role**\n- All Member permissions  \n- Can manage organization settings\n- Can view and manage users\n- **Cannot** delete the organization\n\n### 👑 **Owner Role**\n- All Admin permissions\n- Full organization control\n- Can delete the organization\n- Can transfer ownership\n            ",
    "contact": {
      "name": "LithoBlocks",
      "url": "https://lithoblocks.com",
      "email": "support@lithoblocks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.lithoblocks.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8787",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "LithoBlocks API key obtained from your organization dashboard"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Get all templates",
        "description": "Get all templates with optional inclusion of related data",
        "security": [
          {
            "bearerAuth": [
              "templates:read"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "true"
            },
            "required": false,
            "name": "include_author",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "false"
            },
            "required": false,
            "name": "include_message",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "false"
            },
            "required": false,
            "name": "include_sample_data",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "true"
            },
            "required": false,
            "name": "include_request_format",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "isPublic": {
                        "type": "boolean"
                      },
                      "currentVersionId": {
                        "type": "string"
                      },
                      "authorId": {
                        "type": "string"
                      },
                      "author": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "email"
                        ]
                      },
                      "requestFormat": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "ccUsers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "iconEmoji": {
                        "type": "string"
                      },
                      "userName": {
                        "type": "string"
                      },
                      "currentVersion": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "iconEmoji": {
                            "type": "string"
                          },
                          "userName": {
                            "type": "string"
                          },
                          "ccUsers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "authorId": {
                            "type": "string"
                          },
                          "requestFormat": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "description",
                          "createdAt",
                          "updatedAt",
                          "status",
                          "type",
                          "iconEmoji",
                          "userName",
                          "ccUsers",
                          "authorId",
                          "requestFormat"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "description",
                      "createdAt",
                      "updatedAt",
                      "isPublic",
                      "currentVersionId",
                      "authorId",
                      "author",
                      "requestFormat",
                      "ccUsers",
                      "iconEmoji",
                      "userName",
                      "currentVersion"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "required_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "required_scopes",
                    "user_scopes"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Templates not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Get a template",
        "description": "Get a template by its id with optional inclusion of related data",
        "security": [
          {
            "bearerAuth": [
              "templates:read"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "default": "true"
            },
            "required": false,
            "name": "include_author",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "false"
            },
            "required": false,
            "name": "include_message",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "false"
            },
            "required": false,
            "name": "include_sample_data",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "true"
            },
            "required": false,
            "name": "include_request_format",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "isPublic": {
                        "type": "boolean"
                      },
                      "currentVersionId": {
                        "type": "string"
                      },
                      "authorId": {
                        "type": "string"
                      },
                      "author": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "email"
                        ]
                      },
                      "requestFormat": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "ccUsers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "iconEmoji": {
                        "type": "string"
                      },
                      "userName": {
                        "type": "string"
                      },
                      "currentVersion": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "iconEmoji": {
                            "type": "string"
                          },
                          "userName": {
                            "type": "string"
                          },
                          "ccUsers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "authorId": {
                            "type": "string"
                          },
                          "requestFormat": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "description",
                          "createdAt",
                          "updatedAt",
                          "status",
                          "type",
                          "iconEmoji",
                          "userName",
                          "ccUsers",
                          "authorId",
                          "requestFormat"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "description",
                      "createdAt",
                      "updatedAt",
                      "isPublic",
                      "currentVersionId",
                      "authorId",
                      "author",
                      "requestFormat",
                      "ccUsers",
                      "iconEmoji",
                      "userName",
                      "currentVersion"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "required_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "required_scopes",
                    "user_scopes"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Templates"
        ],
        "summary": "Update template metadata",
        "description": "Update the metadata for a specific template (name, type, user_name, icon_emoji). Only the template author or users in the same organization can update templates.",
        "security": [
          {
            "bearerAuth": [
              "templates:write"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Template update data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "type": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "user_name": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "icon_emoji": {
                    "type": "string",
                    "maxLength": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "userName": {
                      "type": "string",
                      "nullable": true
                    },
                    "iconEmoji": {
                      "type": "string",
                      "nullable": true
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "type",
                    "userName",
                    "iconEmoji",
                    "updatedAt",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}/compile": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Compile a template",
        "description": "Use this request with the template_id and your specific data to receive a fully compiled message string. This endpoint manages credits, logs usage, and provides comprehensive template compilation with error handling.",
        "security": [
          {
            "bearerAuth": [
              "messages:create"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Compile template with credits",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  }
                },
                "required": [
                  "template_id",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully compiled template with credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "user_name": {
                          "type": "string"
                        },
                        "icon_emoji": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "type"
                      ]
                    },
                    "compiled_message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "remaining_credits": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "template",
                    "compiled_message",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error compiling template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "user_name": {
                          "type": "string"
                        },
                        "icon_emoji": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "type"
                      ]
                    },
                    "compiled_message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "remaining_credits": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "error_details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "template",
                    "compiled_message",
                    "status",
                    "error",
                    "error_details"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "required_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "required_scopes",
                    "user_scopes"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}/send": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Send a template message to Slack",
        "description": "Compile a template with provided data and send it to Slack via the organization's Slack connection. Credits are deducted only after successful send.",
        "security": [
          {
            "bearerAuth": [
              "messages:create"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Send message request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "channelId": {
                    "type": "string"
                  },
                  "recipientEmail": {
                    "type": "string",
                    "format": "email"
                  },
                  "recipientSlackId": {
                    "type": "string"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message_ts": {
                      "type": "string"
                    },
                    "channel": {
                      "type": "string"
                    },
                    "remaining_credits": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "message_ts",
                    "channel"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error sending message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "error_details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "required_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "required_scopes",
                    "user_scopes"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Template or connection not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}/send-bulk": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Send a template message to multiple Slack destinations",
        "description": "Compile a template with provided data and send it to multiple Slack channels or users. Creates a credit log per destination. Credits are deducted only after successful sends.",
        "security": [
          {
            "bearerAuth": [
              "messages:create"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Bulk send message request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "destinations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "channelId": {
                          "type": "string"
                        },
                        "recipientEmail": {
                          "type": "string",
                          "format": "email"
                        },
                        "recipientSlackId": {
                          "type": "string"
                        }
                      }
                    },
                    "minItems": 1,
                    "maxItems": 100
                  }
                },
                "required": [
                  "data",
                  "destinations"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk send results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "destination": {
                            "type": "object",
                            "properties": {
                              "channelId": {
                                "type": "string"
                              },
                              "recipientEmail": {
                                "type": "string",
                                "format": "email"
                              },
                              "recipientSlackId": {
                                "type": "string"
                              }
                            }
                          },
                          "channel": {
                            "type": "string"
                          },
                          "message_ts": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "error": {
                            "type": "string"
                          },
                          "credit_log_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "destination",
                          "channel",
                          "success"
                        ]
                      }
                    },
                    "total_sent": {
                      "type": "number"
                    },
                    "total_failed": {
                      "type": "number"
                    },
                    "remaining_credits": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "results",
                    "total_sent",
                    "total_failed"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error sending messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "error_details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "required_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "required_scopes",
                    "user_scopes"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Template or connection not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/credits/{organization_id}": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "Get credit balance",
        "description": "Get the credit balance for your organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "organization_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "credits"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "required_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "required_scopes",
                    "user_scopes"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Credit balance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/credits/{organization_id}/logs": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "Get credit logs",
        "description": "Get credit logs / usage data for your organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "organization_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "organization_id": {
                        "type": "string"
                      },
                      "template_id": {
                        "type": "string"
                      },
                      "credits_used": {
                        "type": "number"
                      },
                      "remaining_balance": {
                        "type": "number"
                      },
                      "created_at": {
                        "type": "string"
                      },
                      "generation_status": {
                        "type": "string"
                      },
                      "error_message": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "required": [
                      "id",
                      "organization_id",
                      "template_id",
                      "credits_used",
                      "remaining_balance",
                      "created_at",
                      "generation_status",
                      "error_message"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "required_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "required_scopes",
                    "user_scopes"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Credit logs not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get organization details",
        "description": "Get details of a specific organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "memberCount": {
                      "type": "number"
                    },
                    "creditBalance": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "status",
                    "createdAt",
                    "memberCount",
                    "creditBalance"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update organization name",
        "description": "Update organization name only (Admin+ role required)",
        "security": [
          {
            "bearerAuth": [
              "organizations:admin"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Organization update data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "status",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}/members": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List organization members",
        "description": "Get all members of an organization with their roles (Admin+ role required)",
        "security": [
          {
            "bearerAuth": [
              "organizations:admin"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstName": {
                        "type": "string",
                        "nullable": true
                      },
                      "lastName": {
                        "type": "string",
                        "nullable": true
                      },
                      "email": {
                        "type": "string",
                        "nullable": true
                      },
                      "role": {
                        "type": "string",
                        "enum": [
                          "owner",
                          "admin",
                          "member",
                          "viewer"
                        ]
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "lastActive": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "required": [
                      "id",
                      "firstName",
                      "lastName",
                      "email",
                      "role",
                      "createdAt",
                      "lastActive"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}/invite": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Invite user to organization",
        "description": "Send an invitation to a user to join the organization (Admin+ role required)",
        "security": [
          {
            "bearerAuth": [
              "organizations:admin"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "User invitation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "member",
                      "viewer"
                    ],
                    "default": "member"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "invitationId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "invitationId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid invitation data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/profile": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user profile",
        "description": "Get the current user's profile information",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "organizationId": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "firstName",
                    "lastName",
                    "email",
                    "organizationId",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update user profile",
        "description": "Update the current user's profile information (first name, last name, and/or email)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Profile update data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "last_name": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "organizationId": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "firstName",
                    "lastName",
                    "email",
                    "organizationId",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user by ID",
        "description": "Get a user by their ID (Admin+ role required)",
        "security": [
          {
            "bearerAuth": [
              "users:admin"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "organizationId": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "owner",
                        "admin",
                        "member",
                        "viewer"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "firstName",
                    "lastName",
                    "email",
                    "organizationId",
                    "createdAt",
                    "role"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Admin privileges required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "description": "Delete a user by their ID (Admin+ role required)",
        "security": [
          {
            "bearerAuth": [
              "users:admin"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Admin privileges required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}/versions": {
      "get": {
        "tags": [
          "Template Versions"
        ],
        "summary": "List template versions",
        "description": "Get all versions of a template",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Template versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "templateId": {
                        "type": "string"
                      },
                      "versionNumber": {
                        "type": "number"
                      },
                      "message": {
                        "type": "object",
                        "additionalProperties": {
                          "nullable": true
                        }
                      },
                      "status": {
                        "type": "string"
                      },
                      "isCurrent": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "createdBy": {
                        "type": "string",
                        "nullable": true
                      },
                      "sampleData": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": {
                          "nullable": true
                        }
                      },
                      "entityId": {
                        "type": "string",
                        "nullable": true
                      },
                      "requestFormat": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": {
                          "nullable": true
                        }
                      }
                    },
                    "required": [
                      "id",
                      "templateId",
                      "versionNumber",
                      "message",
                      "status",
                      "isCurrent",
                      "createdAt",
                      "createdBy",
                      "sampleData",
                      "entityId",
                      "requestFormat"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Template Versions"
        ],
        "summary": "Create new template version",
        "description": "Create a new version of a template",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Version creation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "status": {
                    "type": "string",
                    "default": "draft"
                  },
                  "sampleData": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "entityId": {
                    "type": "string"
                  },
                  "requestFormat": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "templateId": {
                      "type": "string"
                    },
                    "versionNumber": {
                      "type": "number"
                    },
                    "message": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    },
                    "status": {
                      "type": "string"
                    },
                    "isCurrent": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "createdBy": {
                      "type": "string",
                      "nullable": true
                    },
                    "sampleData": {
                      "type": "object",
                      "nullable": true,
                      "additionalProperties": {
                        "nullable": true
                      }
                    },
                    "entityId": {
                      "type": "string",
                      "nullable": true
                    },
                    "requestFormat": {
                      "type": "object",
                      "nullable": true,
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "id",
                    "templateId",
                    "versionNumber",
                    "message",
                    "status",
                    "isCurrent",
                    "createdAt",
                    "createdBy",
                    "sampleData",
                    "entityId",
                    "requestFormat"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}/versions/{versionId}": {
      "get": {
        "tags": [
          "Template Versions"
        ],
        "summary": "Get specific template version",
        "description": "Get a specific version of a template",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "versionId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Template version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "templateId": {
                      "type": "string"
                    },
                    "versionNumber": {
                      "type": "number"
                    },
                    "message": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    },
                    "status": {
                      "type": "string"
                    },
                    "isCurrent": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string"
                    },
[...]
